body {
  background-color: #0e002d;
}

.description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.description {
  color: #ececec;
  width: 50%;
}

.playground-holder {
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.playground {
  width: 520px;
  background-color: blue;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.player-squares {
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  margin: 1px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.loginPage {
  color: white;
}

.title {
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  letter-spacing: 2px;
}

.loginBox {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #222222;
  border-radius: 10px;
  padding: 30px 80px;
  -webkit-box-shadow: 0px 0px 14px 5px #363565;
          box-shadow: 0px 0px 14px 5px #363565;
}

.loginBox p {
  color: white;
}

.loginBox input {
  width: 250px;
  height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
  padding-left: 20px;
  outline: none;
  border: 1px solid black;
}

.loginBox button {
  display: block;
  margin-top: 20px;
  background-color: #fff;
  color: white;
  outline: none;
  border: 1px solid black;
  padding: 10px 30px;
  border-radius: 15px;
  background-color: #3f00bc;
  font-size: 14px;
  cursor: pointer;
}

.loginBox button:disabled, .loginBox button[disabled] {
  background-color: #291550;
  cursor: not-allowed;
  color: #666666;
}

.loginBox .active-color {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 10px;
  border: 2px solid white;
}

.loginBox .color-pick-box {
  background-color: #353535;
  max-width: 300px;
  min-height: 50px;
  margin-top: 10px;
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loginBox .color-pick-box .color-dot {
  width: 20px;
  height: 20px;
  margin: 10px;
  display: block;
  border-radius: 50%;
}

.loginBox .color-pick-box .color-dot:hover {
  border: 2px solid white;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */