$background-color: #0e002d;
$login-box-color: #222222;
$login-button-color: #3f00bc;
$login-button-dark-color: #291550;

body {
  background-color: $background-color;
}
.description-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.description {
  color: rgb(236, 236, 236);
  width: 50%;
}

.playground-holder {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.playground {
  width: 520px;
  background-color: blue;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
.player-squares {
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  margin: 1px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.loginPage {
  color: white;
}
.title {
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  letter-spacing: 2px;
}
.loginBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $login-box-color;
  border-radius: 10px;
  padding: 30px 80px;
  box-shadow: 0px 0px 14px 5px #363565;

  p {
    color: white;
  }

  input {
    width: 250px;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
    padding-left: 20px;
    outline: none;
    border: 1px solid black;
  }

  button {
    display: block;
    margin-top: 20px;
    background-color: #fff;
    color: white;
    outline: none;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 15px;
    background-color: $login-button-color;
    font-size: 14px;
    cursor: pointer;
    &:disabled,
    &[disabled] {
      background-color: $login-button-dark-color;
      cursor: not-allowed;
      color: #666666;
    }
  }

  .active-color {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 10px;
    border: 2px solid white;
  }
  .color-pick-box {
    background-color: #353535;
    max-width: 300px;
    min-height: 50px;
    margin-top: 10px;
    position: absolute;
    // position: relative;
    right: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;

    .color-dot {
      width: 20px;
      height: 20px;
      margin: 10px;
      display: block;
      border-radius: 50%;
      &:hover {
        border: 2px solid white;
        cursor: pointer;
      }
    }
  }
}
